@charset "UTF-8";

* {
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    background: gray url('../midias/imagens/fundo-madeira.jpg') no-repeat fixed center center;
    background-size: cover;
}

article {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 310px;
    height: 625px;
    border-radius: 60px;
    background: gray url('../midias/imagens/frame-iphone.png') no-repeat top center;
}

aside > img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
