@charset "UTF-8";

* {
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    background: url('../midias/imagens/fundo-madeira.jpg') no-repeat fixed center center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url('../midias/imagens/frame-iphone.png') no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

aside > a > img {
    display: block;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 13px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img:hover {
    border: 3px solid white;
    transition: 0.1s;
}
